
.container {

  height: 100vh;
  background-image: url('https://imgs.search.brave.com/JFsFrbxkzNtiwzblbsxEBnW6idmayoUnrUdif7eGZQo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDI3ODc3/NzguanBn');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  color: white;
  text-align: center;
}

/* .title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
} */





@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 1em;
  }
  .btn {
    font-size: 0.5em;
  }
}








  