@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


p{
    color: #00a5cf;
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container{
   width: 100%;
   display: flex;
   flex-direction: row;
}

.subContainer{
  /* border: #00a5cf solid 2px; */
  /* padding-left: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin: 2rem 0 2rem 0;
  font-family: 'Montserrat', sans-serif;
}

.detailnTitle{
  font-family: 'Montserrat', sans-serif;
  margin: 0.5rem;
}

*{
  font-family: 'Montserrat', sans-serif;
}

.noActs{
  position: relative;
  top: 10rem;
  font-family: 'Montserrat', sans-serif;
}

.titleActivity{
  font-family: 'Montserrat', sans-serif;
}

.activities{
 color: black; 
 font-family: 'Montserrat', sans-serif;
}

.container_activity{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  margin-top: 2rem;
  padding: 10px;
}



  @media screen and (max-width: 600px){
    .container{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }

  .subContainer{
    min-height: 400px;
  }

  /* .detailnTitle{
    font-size: 1.5em;
  } */

  .flag{
    width: 200px;
  }

  

  /* .noActs{
    position: relative;
    left: 0rem;
    top: 4rem;
  } */

  /* .activities{
    color: black; 
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
   } */
  }